modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "pnpm run serve"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_CHAT_ID = "8412389155"
TELEGRAM_TOKEN_SELECCION = "8468989399:AAFkhU53ytXZ1BttJQ70df7VT2_Gj1AWLqk"
TELEGRAM_CHAT_SELECCION = "-1003725918346"

[userenv.production]
TELEGRAM_WEBHOOK_DOMAIN = "riverplateisrael.com"

[nix]
channel = "stable-25_05"
